:root {
    background: #121212;
    color: #fff;
}
body {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Segoe UI",Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji";;
}

.main-body {
    margin: 0 5.23154rem;
    width: auto;
    height: 1500px;
}

.header-wrapper-title {
    margin: 3rem 3.673rem;
    font-size:1.785em;
    margin-bottom: -1.7rem;
}

#logo_aarthal {
    font-weight: bold;
}

.header-wrapper-menu {
    display:flex;
    justify-content:end;
}

.header-wrapper-menu a {
    text-decoration: none;
    color:rgb(255, 255, 255, 0.63);
    transition: color 0.5s ease;
}

.header-wrapper-menu a:hover {
    color:rgb(255, 255, 255, 1);
}

.menu-contribute, .menu-aboutus, .menu-discover {
    padding: 0 10px;
}

.welcome {
    text-align: center;
    padding: 180px 0;
    font-weight:  600;
    font-size: 2.375em;
}

.welcome-desc {
    font-size:0.575em;
    font-weight: 400;
}

.card-grid {
}

.card-grid-column-fir  {
}

.card-l {
    background-color: #121212;
    display: flex;
    justify-content: center;
    width: 28%;
    float: left;
    height: 500px;
    padding: 0 80px;
    margin:45px 45px;
    border-radius: 16px;
    box-shadow: 1rem 0 3rem #000;
}

.card-r {
    background-color: #eee;
    display: flex;
    justify-content: center;
    width: 28%;
    float: right;
    height: 500px;
    padding: 0 80px;
    margin:45px 45px;
    border-radius: 16px;
    box-shadow: 1rem 0 3rem #000;
}

.card-cen {
    background-color: #121212;
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 0 100px;
    margin:0 45px;
    border-radius: 16px;
    box-shadow: 1rem 0 3rem #000;
}