/*

$blue   #0076ff
$red    #de095c
$green  #78e8a9

*/


:root {
    background: #121212;
    color: #fff;
}

a {
    color: #de095c;
    transition: color 0.3s ease;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

body {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Segoe UI",Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji";
}

.main-body {
    margin: 0 5.23154rem;
    width: auto;
}

.header-wrapper-title {
    margin: 3rem .673rem;
    font-size:1.785em;
    margin-bottom: -1.7rem;
}

#header_wrapper_title {
    font-size: 1.785em;
}

#logo_aarthal {
    font-weight: bold;
    letter-spacing: .011em;
}

.header-wrapper-menu {
    display:flex;
    justify-content:end;
}

.header-wrapper-menu a {
    text-decoration: none;
    color:rgb(255, 255, 255, 0.63);
    transition: color 0.5s ease;
}

.header-wrapper-menu a:hover {
    color:rgb(255, 255, 255, 1);
}

.menu-contribute, .menu-aboutus, .menu-discover {
    padding: 0 10px;
}

.welcomer-main {
    text-align: center;
    padding: 180px 0;
    font-size: 3.275vw;
    letter-spacing: .011em;
}

#welcomer_other {
    font-weight: 300;
    letter-spacing: .011em;
}

.welcome-desc {
    font-size:0.575em;
    font-weight: 400;
}

.welcome-link-cont {
    font-size: 1.6vw;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.welcome-link {
    margin: 0 50px;
    letter-spacing: .011em;
}

/* this section is for different viewports, like iPads and phones  */

@media only screen and (max-width: 700px) {

    .header-wrapper-title {
        margin: 3rem .673rem;
        font-size:1.785em;
        margin-bottom: -1.7rem;
        display: flex;
        justify-content: center;
    }

    .header-wrapper-menu {
        display:flex;
        justify-content:center;
        margin: 0 -3rem;
        padding-top: 2.428rem;
        font-size:2.5vw;
    }

    .welcomer-main {
        text-align: center;
        padding: 180px 0;
        font-size: 1.675em;
        letter-spacing: .011em;
    }

    .welcome-link-cont {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        font-size: 2vw
    }

}

@media only screen and (max-width: 1068px) {

    .header-wrapper-title {
        margin: 3rem .673rem;
        font-size:2vw;
        margin-bottom: -1.7rem;
    }
    
}

@media only screen and (max-width: 662px) {

    .header-wrapper-menu {
        font-size:13px;
    }

}

@media only screen and (max-width: 375px) {

    .header-wrapper-menu {
        font-size:11px;
    }
}
